
@font-face {
    font-family: Bradley;
    src: url(https://fonts.cdnfonts.com/css/bradley);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
:root {
    --index: (1vh + 1vw);
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin:  calc(var(--index) * 1) auto ;
}
.title{
    font-family: Bradley;
    font-weight: 500;
    font-size: calc(var(--index) * 2.5); 
    margin-bottom:  calc(var(--index) * 0.5);
}

.header{
    display: inline-flex;
    justify-content: center;
    
    align-items: center;
    width: 100%;
}
.header>li>a{
    display: inline-block;
    font-family: Bradley;
    font-weight: 200;
    font-size: calc(var(--index) * 1); 
    color: rgb(49, 49, 49);

    padding: calc(var(--index) * .45);

    transition: 0.3s;
}
.header>li>a:hover {
    transform: rotate(3deg) translate(5px);
}

.IndexIMG{
    display: inline-flex;
    justify-content: center;
    margin: calc(var(--index) * 1.5) auto ;
    align-items: center;
    width: 100%;
}
img{
    width: calc(var(--index) * 23);
    height: calc(var(--index) * 23);

}